.reserverensecion{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
}

.reserverensecion .formbox{
    height: 100vh;
}

.whiteground{
    background-color: white !important;
}
.rondleidingInfo ,h3{
    color: black;
    text-align: center;
}
.rondleidingInfo .column{
    float: left;
}

.rondleidingInfo iframe{
    margin: 1rem 6rem;
}
.rondleidingInfo .rowPics{
    margin-top: 5rem;
}

.arrangement h2{
    text-align: center;
}

select{
    width: 17rem;
}